In [1]:
import pandas as pd

In [62]:
df = pd.read_csv('statements-data-semi-stacked.csv')

In [63]:
for col in ['FY18', 'FY17', 'FY16', 'FY15']:
    df[col] = df[col].str.replace(',', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = pd.to_numeric(df[col])

In [64]:
df.dtypes

Metric      object
Company     object
FY18       float64
FY17       float64
FY16       float64
FY15       float64
dtype: object

In [65]:
stacked = df.set_index(['Company', 'Metric']).stack()

In [66]:
df = stacked.reset_index()
df.columns = ['Company', 'Metric', 'FY', 'Value']

In [67]:
df.to_csv('stacked-statements-data.csv')

In [68]:
pivot_fy18 = pd.pivot(df.loc[df['FY'] == 'FY18'], columns='Metric', index='Company', values = 'Value')

In [69]:
pivot_fy18

Metric,Assets,EBIT,EBITDA,Equity,Interest Expense,Long Term Debt,Net Income,Total Debt,Total Revenue
Company,,,,,,,,,
ACCENTURE,2.444908e+07,5841041.0,6434699.0,10364753.0,19539.0,19676.0,4059907.0,1.372450e+07,3.957345e+07
CGI,1.191907e+07,1699280.0,1930268.0,6684807.0,62875.0,1485865.0,1141402.0,5.234259e+06,1.150682e+07
COGNIZANT,1.591300e+07,2836000.0,3320000.0,11424000.0,27000.0,736000.0,2101000.0,4.489000e+06,1.612500e+07
DXC,3.392100e+07,3046000.0,5019000.0,13487000.0,335000.0,5552000.0,1751000.0,2.008400e+07,2.455600e+07
IBM,1.233820e+08,12230000.0,16710000.0,16796000.0,723000.0,35681000.0,8728000.0,1.064520e+08,7.959100e+07
MAXIMUS,1.462000e+06,299783.0,350775.0,1083867.0,1000.0,NaN,220751.0,3.755810e+05,2.392236e+06
NTT,2.234277e+09,123523000.0,310483000.0,833858000.0,6051000.0,468860000.0,58173000.0,1.365416e+09,2.117167e+09
TCS,1.149430e+09,374560000.0,395120000.0,894460000.0,1980000.0,NaN,314720000.0,2.504400e+08,1.464630e+09
TELUS,3.306500e+07,2887000.0,4616000.0,10259000.0,625000.0,13218000.0,1600000.0,2.272400e+07,1.409500e+07

In [74]:
pivot_fy18['Interest Coverage Ratio'] = pivot_fy18['EBIT'] / pivot_fy18['Interest Expense']
pivot_fy18['EBIT Margin'] = pivot_fy18['EBIT'] / pivot_fy18['Total Revenue']
pivot_fy18['Debt EBITDA'] = pivot_fy18['Total Debt'] / pivot_fy18['EBITDA']

In [75]:
pivot_fy18

Metric,Assets,EBIT,EBITDA,Equity,Interest Expense,Long Term Debt,Net Income,Total Debt,Total Revenue,Interest Coverage Ratio,EBIT Margin,Debt EBITDA
Company,,,,,,,,,,,,
ACCENTURE,2.444908e+07,5841041.0,6434699.0,10364753.0,19539.0,19676.0,4059907.0,1.372450e+07,3.957345e+07,298.942679,0.147600,2.132888
CGI,1.191907e+07,1699280.0,1930268.0,6684807.0,62875.0,1485865.0,1141402.0,5.234259e+06,1.150682e+07,27.026322,0.147676,2.711675
COGNIZANT,1.591300e+07,2836000.0,3320000.0,11424000.0,27000.0,736000.0,2101000.0,4.489000e+06,1.612500e+07,105.037037,0.175876,1.352108
DXC,3.392100e+07,3046000.0,5019000.0,13487000.0,335000.0,5552000.0,1751000.0,2.008400e+07,2.455600e+07,9.092537,0.124043,4.001594
IBM,1.233820e+08,12230000.0,16710000.0,16796000.0,723000.0,35681000.0,8728000.0,1.064520e+08,7.959100e+07,16.915629,0.153661,6.370557
MAXIMUS,1.462000e+06,299783.0,350775.0,1083867.0,1000.0,NaN,220751.0,3.755810e+05,2.392236e+06,299.783000,0.125315,1.070718
NTT,2.234277e+09,123523000.0,310483000.0,833858000.0,6051000.0,468860000.0,58173000.0,1.365416e+09,2.117167e+09,20.413651,0.058344,4.397716
TCS,1.149430e+09,374560000.0,395120000.0,894460000.0,1980000.0,NaN,314720000.0,2.504400e+08,1.464630e+09,189.171717,0.255737,0.633833
TELUS,3.306500e+07,2887000.0,4616000.0,10259000.0,625000.0,13218000.0,1600000.0,2.272400e+07,1.409500e+07,4.619200,0.204824,4.922877